
//
// VARIABLES
//

// Colors
$primary: #194158;

$width-desktop: 1140px;
$width-tablet: 680px;
$width-mobile: 300px;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #bbb;
$lighterGray: #eee;
$white: #fff;

// Font stacks
$defaultFonts: "Proxima Nova", "Brandon Grotesque", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fancyFonts: "Brandon Grotesque", "Proxima Nova", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}